{% extends 'basic.html' %}

{% block body %}
{% load static %}

  <main id="main">


              <!-- ======= Features Section ======= -->
              <section id="features" class="features">

                <div class="container" data-aos="fade-up">
          
                  <header class="section-header mt-5">
                    <h2>About Us</h2>

                  </header>
          
                  
          
                  <!-- Feature Tabs -->
                  <div class="row feture-tabs mt-4" data-aos="fade-up">
                    <div class="col-lg-6">
                      <h3>We Are The GeM Portal Consultant For Sellers & Buyers</h3>
          
                      <div>
                        <p>We are gem consultants, we provide registration services and as well as complete training for the gem portal. 
                          Our experts provide gem training for buyers and sellers. As we provide live and virtual gem portal training for buyers and sellers. 
                          For more information please contact our team they will guide you with all the details.</p>
                          <p>GeM is a short form of one stop Government e Marketplace hosted by DGS&D where common user goods and services can be procured.  GeM is also known as Govt e Market or Gem e Market or Gem Government e Marketplace. GeM is dynamic, 
                            self-sustaining and user friendly portal for making procurement by Government officers.</p>
                      </div>
          
          
                    </div>
          
                    <div class="col-lg-6">
                      <img src="{% static 'assets/img/bizserv.png'%}" class="img-fluid" alt="">
                    </div>
          
                  </div><!-- End Feature Tabs -->
          
                  <!-- Feature Icons -->
                  
    
                
                </div>
          
              </section><!-- End Features Section -->
              <section id="cta" class="cta">
                <div class="container" data-aos="zoom-in">
                  <div class="text-center">
                    <h3>What's on your mind?</h3>
                    <h3>Don't worry! Connect with us and say hello.</h3>
                    <p>We are here willingly to answer any questions you may have.</p>
                    <a class="cta-btn" href="#">Contact With Us</a>
                  </div>
                </div>
              </section><!-- End Cta Section -->


                <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>BizServ ConXultancy Is Here To Help</h2>

      </header>


      <!-- Feature Icons -->
      <div class="row feature-icons mt-0" data-aos="fade-up">

        <div class="row">
          <h3>We offer our customers extraordinary services that help them to convert their startup into
            entrepreneurship through Bizserv unique business model.</h3>

          <div class="col-xl-6 text-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'assets/img/features-2.png' %}" class="img-fluid p-4" alt="">
          </div>

          <div class="col-xl-6 d-flex content">





            <div class="row align-self-center gy-4">

              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="ri-line-chart-line"></i>
                <div>
                  <h4>Gem Registration </h4>

                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="ri-stack-line"></i>
                <div>
                  <h4>Product Uploading</h4>

                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="ri-brush-4-line"></i>
                <div>
                  <h4>MSME Registration</h4>

                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="ri-magic-line"></i>
                <div>
                  <h4>Oem Authorization</h4>

                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="ri-command-line"></i>
                <div>
                  <h4>Trademark Registration</h4>

                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <i class="ri-radar-line"></i>
                <div>
                  <h4>Startup India Registration</h4>

                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

  </section><!-- End Features Section -->


  </main><!-- End #main -->

  {% endblock %}