{% extends 'basic.html' %}

{% block body %}
{% load static %}

<!-- ======= Features Section ======= -->
<section id="features" class="features">

  <div class="container" data-aos="fade-up">

    <header class="section-header mt-5">
      <h2>Bid Participation</h2>

    </header>



    <!-- Feature Tabs -->
    <div class="row feture-tabs mt-0" data-aos="fade-up">
      <div class="col-lg-8">
        <h3>Bid Participation On GeM</h3>

        <div>
          <p>Participating in bidding on the Government e-Marketplace (GeM) is a process that allows businesses to
            compete for
            government procurement contracts in India. GeM is an online platform established by the Indian government
            to facilitate transparent and efficient procurement of goods and services by various government departments
            and agencies.</p>

          <p>Once the product / service is uploaded by the seller / service provider, they will be able to see the list
            of BID / RA requests and purchases available for their product / service on the portal. At their discretion,
            they may participate in related transactions. Please rate each GFR 149 depending on the type of extraction
            currently available.</p>
        </div>


      </div>

      <div class="col-lg-4">
        <img src="{% static 'assets/img/bid.jpg'%}" class="img-fluid" alt="">
      </div>

    </div><!-- End Feature Tabs -->

    <!-- Feature Icons -->
    <div class="row feature-icons mt-4" data-aos="fade-up">
      <h3 style="color: whitesmoke;">The steps to participate in bidding on GeM</h3>

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">

                <div class="hori-timeline" dir="ltr">
                  <ul class="list-inline events">
                    <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-primary text-primary">Step 1</div>
                        <h5 class="font-size-16">Registration on GeM</h5>
                        <p class="text-muted">To participate in bidding on GeM, your business needs to be registered on
                          the platform. GeM website <a href="https://gem.gov.in/">https://gem.gov.in/</a> </p>

                      </div>
                    </li>
                    <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-success text-success">Step 2</div>
                        <h5 class="font-size-16">View and Participate in Bids</h5>
                        <p class="text-muted">GeM regularly publishes bid opportunities from various government
                          departments and agencies.</p>

                      </div>
                    </li>
                    <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-danger text-danger">Step 3</div>
                        <h5 class="font-size-16">Submit Bids:</h5>
                        <p class="text-muted">When you find a bid that you want to participate in, you will need to
                          submit your bid response.</p>

                      </div>
                    </li>
                    <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-warning text-warning">Step 4</div>
                        <h5 class="font-size-16">Winning Bids</h5>
                        <p class="text-muted">If your bid is successful, you will receive a purchase order or work order
                          from the government agency that posted the bid.</p>

                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
      </div>



    </div>

</section><!-- End Features Section -->
<!-- ======= about1 Section ======= -->
<section id="about1" class="about1 section-bg">
  <div class="container">
    <div class="section-header">
      <h2>Important Things To Pay Attention To</h2>

    </div>



    <div class="col-md-12">
      <div class="content d-flex flex-column justify-content-center ps-0 ps-xl-4">
        <div class="row gy-4 mt-3">
      
          <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-check2-circle"></i>
            <h4>Vendors can participate in BID / RA which must follow the process specified by the GeM Framework</h4>

          </div>
          <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-check2-circle"></i>
            <h4>All relevant documents required in accordance with the ATC (Additional Terms and Conditions) BID / RA must be provided</h4>

          </div>
          <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-check2-circle"></i>
            <h4>There will be no direct interaction between the buyer and the seller until the contract is awarded Options are available to create a BID directly or create an RA directly or convert a BID to an RA</h4>

          </div>
          

        </div>
      </div><!-- End .content-->

    </div>

  </div>
</section><!-- End about1 Section -->

{% endblock %}