{% extends 'basic.html' %}

{% block body %}
{% load static %}

<main id="main" class="mt-3">


  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">

      <header class="section-header mt-5">
        <h2>GeM registration</h2>

      </header>



      <!-- Feature Tabs -->
      <div class="row feture-tabs mt-0" data-aos="fade-up">
        <div class="col-lg-8">
          <h3>About GeM Registration ( Government e-Marketplace (GeM) in India)</h3>

          <div>
            <p>The term "GeM registration" likely refers to the registration process for the Government e-Marketplace
              (GeM) in India. GeM is an online platform launched by
              the Government of India to facilitate procurement of goods and services by various government departments,
              organizations,
              and public sector undertakings. Please note that processes and information might have changed since then,
              so I recommend
              checking the official GeM website or contacting relevant authorities for the most up-to-date information.
            </p>
          </div>
          <h3>What GeM Consultant ?</h3>

          <div>
            <p>We are Gem Consultants in Delhi Our Team are expert in Gem Consultancy in Delhi we are best no one Gem
              Consultant in Delhi,
              gem vendor assessment consultant we provide in all type services in gem portal, government e marketplace
              consultants launched a
              to allow online procurement of goods and services in order to improve on the overall efficiency and
              transparency in government
              transactions, GeM Gem Consultant in Delhi NCR Registration allows vendors, and buyers, To deal on a GeM
              portal which offers,
              Transparency and high speed throughout all the deals we provide consultancy services regarding gem portal,
              gem registration
              consultants, gem registration consultant, gem consultant in Delhi, Gem tender consultant, Gem Registration
              Consultants has helped
              many businesses to get the online GeM registration successfully for pan India locations. You may contact
              us to get your
              Gem Registration Consultants in Delhi, Meerut, Gurgaon,
              Kolkata, Ghaziabad, Faridabad or any other cities in India,
              Gem consultant, we are the best Gem oem panel consultants, we provide in all type gem tender consultants,
              gem consultants.
              after Gem portal registration, a seller/OEM ( original equipment manufacturer ) needs to set up an OEM
              panel to claim the
              ownership of Brand they want to sell, Vendor Assessment for Gem, Gem Vendor
            </p>
          </div>


        </div>

        <div class="col-lg-4">
          <img src="{% static 'assets/img/GEM.jpg' %}" class="img-fluid" alt="">
        </div>

      </div><!-- End Feature Tabs -->

      <!-- Feature Icons -->
      <div class="row feature-icons mt-4" data-aos="fade-up">
        <h3 style="color: whitesmoke;">Who Can Register GeM As A Vendor / Service Provider?</h3>

        <div class="row">

          <div class="col-xl-6 text-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'assets/img/multitasking.png' %}" class="img-fluid p-4" alt="">
          </div>

          <div class="col-xl-6 d-flex content">
            <div class="row align-self-center gy-4">

              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="ri-line-chart-line"></i>
                <div>
                  <h4>Manufacturers</h4>
                  <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="ri-stack-line"></i>
                <div>
                  <h4>Authorized Dealers and Distributors:</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="ri-brush-4-line"></i>
                <div>
                  <h4>Service Providers</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="ri-magic-line"></i>
                <div>
                  <h4>Small and Medium Enterprises (SMEs): </h4>
                  <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="ri-command-line"></i>
                <div>
                  <h4>Startups</h4>
                  <p>Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor marte</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <i class="ri-radar-line"></i>
                <div>
                  <h4>Traders and Wholesaler</h4>
                  <p>Est autem dicta beatae suscipit. Sint veritatis et sit quasi ab aut inventore</p>
                </div>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="ri-command-line"></i>
                <div>
                  <h4>Artisans and Craftspeople</h4>
                  <p>Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor marte</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <i class="ri-radar-line"></i>
                <div>
                  <h4>Farmers and Agricultural Producers</h4>
                  <p>Est autem dicta beatae suscipit. Sint veritatis et sit quasi ab aut inventore</p>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>


    </div>

  </section><!-- End Features Section -->
  <!-- ======= Services Section ======= -->
  <section id="services1" class="services1">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>List Of Documents Required</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><img width="50" height="50" src="https://img.icons8.com/ios/50/credit-card-front.png"
                alt="credit-card-front" /></div>
            <h4><a href="">PAN Card</a></h4>
            <p>A Permanent Account Number (PAN) card is a unique 10-character alphanumeric identifier issued by the Income Tax Department of India</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><img width="50" height="50"
                src="https://img.icons8.com/external-creatype-outline-colourcreatype570/external-file-geographic-information-systems-file-extension-line-creatype-outline-colourcreatype-2.png"
                alt="external-file-geographic-information-systems-file-extension-line-creatype-outline-colourcreatype-2" />
            </div>
            <h4><a href="">GST registration certificate</a></h4>
            <p>GST (Goods and Services Tax) registration is a mandatory requirement for businesses in India </p>
          </div>
        </div>


        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><img width="50" height="50"
                src="https://img.icons8.com/external-soleicons-line-amoghdesign/50/external-aadhaar-soleicons-line-vol-1-soleicons-line-amoghdesign.png"
                alt="external-aadhaar-soleicons-line-vol-1-soleicons-line-amoghdesign" /></div>
            <h4><a href="">Aadhaar Card of applicant</a></h4>
            <p>It is a 12-digit number that serves as a proof of identity and address for Indian residents</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><img width="50" height="50"
                src="https://img.icons8.com/pastel-glyph/50/bank-building--v2.png" alt="bank-building--v2" /></div>
            <h4><a href="">Bank Details</a></h4>
            <p>Bank Details of the entity to be entered. </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 " data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><img width="50" height="50" src="https://img.icons8.com/ios/50/google-pixel6.png"
                alt="google-pixel6" /></div>
            <h4><a href="">Mobile No. and Email ID</a></h4>
            <p>Both mobile numbers and email addresses are essential contact details in today's digital world, </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><img width="50" height="50" src="https://img.icons8.com/ios/50/diploma.png"
                alt="diploma" /></div>
            <h4><a href="">Udyog Aadhaar or MSME certificate</a></h4>
            <p>Udyam Registration is particularly important for small and medium-sized businesses in India,</p>
          </div>
        </div>


        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 " data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><img width="50" height="50" src="https://img.icons8.com/ios/50/marker.png" alt="marker" />
            </div>
            <h4><a href="">Location Details</a></h4>
            <p>Details of – Registered Office, Billing Address, Factory, Warehouse, other Office Premises</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><img width="50" height="50" src="https://img.icons8.com/ios/50/company.png"
                alt="company" /></div>
            <h4><a href="">CIN No</a></h4>
            <p>It's important to note that CIN is specific to India and is used for regulatory and legal purposes
              related to companies registered in the country.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="text-center">
        <h3>Still Confused About Our Features?</h3>
        <h3>Get A Free Consultation</h3>
        <p>Our team will complete your gem profile within 24 Hours if all documents are provided. Experts will guide you further on how to get started on the gem portal.</p>
        <a class="cta-btn" href="#"data-bs-toggle="modal" data-bs-target="#modalContactForm">Contact With Us</a>
      </div>
    </div>
  </section><!-- End Cta Section -->
  <!-- ======= about1 Section ======= -->
  <section id="about1" class="about1 section-bg">
    <div class="container">
      <div class="section-header">
        <h2>What Are The Benefits on GeM Portal?</h2>

      </div>



      <div class="col-md-12">
        <div class="content d-flex flex-column justify-content-center ps-0 ps-xl-4">
          <div class="row gy-4 mt-3">
            <div class="col-md-4 icon-box" data-aos="fade-up">
              <i class="bi bi-check2-circle"></i>
              <h4>Access to National Public Procurement market</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-check2-circle"></i>
              <h4>Special provisions and sections for startups, MSMEsj and Emporium products</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-check2-circle"></i>
              <h4>Fully online, paperless, and contactless platform</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-check2-circle"></i>
              <h4>Multiple invoices for a single order</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-check2-circle"></i>
              <h4>Preference given to DPIIT recognised startups to boost startups in Indai</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>Easy access to participate in bids/reverse auction</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>The clock has been enabled in RA to display the remaining time for seller</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>All sellers will be shown reasons for rejection</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>Seller friendly dashboard for monitoring supplies & payments</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>Seller belonging to North-East states and J & K are exempted from ITR at the time
                of bid participation</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>Dynamic Pricing - Price can be changed based on market conditions</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>Direct access to Government departments and their organizations</h4>

            </div>

          </div>
        </div><!-- End .content-->

      </div>

    </div>
  </section><!-- End about1 Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>List Of Documents Required</h2>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-1">
                  Non consectetur a erat nam at lectus urna duis?
                </button>
              </h2>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur
                  gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-2">
                  Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                </button>
              </h2>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                  donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                  ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-3">
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum
                  integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
                  Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi
                  quis
                </div>
              </div>
            </div>

          </div>
        </div>



      </div>

    </div>

  </section><!-- End F.A.Q Section -->



</main><!-- End #main -->

{% endblock %}