{% extends 'basic.html' %}

{% block body %}
{% load static %}


<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">We offer modern solutions for growing your business</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">We handle your messy legalities and documentation, so that you worry
          less and focus more on your dream business.</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="" data-bs-toggle="modal" data-bs-target="#modalContactForm"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Free consultant</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>BizServ ConXultancy Is Here To Help</h2>

      </header>


      <!-- Feature Icons -->
      <div class="row feature-icons mt-0" data-aos="fade-up">

        <div class="row">
          <h3>We offer our customers extraordinary services that help them to convert their startup into
            entrepreneurship through Bizserv unique business model.</h3>

          <div class="col-xl-6 text-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'assets/img/features-2.png' %}" class="img-fluid p-4" alt="">
          </div>

          <div class="col-xl-6 d-flex content">





            <div class="row align-self-center gy-4">

              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="ri-line-chart-line"></i>
                <div>
                  <h4>Gem Registration </h4>

                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="ri-stack-line"></i>
                <div>
                  <h4>Product Uploading</h4>

                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="ri-brush-4-line"></i>
                <div>
                  <h4>MSME Registration</h4>

                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="ri-magic-line"></i>
                <div>
                  <h4>Oem Authorization</h4>

                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="ri-command-line"></i>
                <div>
                  <h4>Trademark Registration</h4>

                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <i class="ri-radar-line"></i>
                <div>
                  <h4>Startup India Registration</h4>

                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

  </section><!-- End Features Section -->


  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Customer Value Is Always A Priority For Us</h2>

      </header>

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-headset" style="color: #15be56;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-people" style="color: #bb0852;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->
  <!-- ======= about1 Section ======= -->
  <section id="about1" class="about1 section-bg">
    <div class="container">
      <div class="section-header">
        <h2>What Are The Benefits on GeM Portal?</h2>

      </div>



      <div class="col-md-12">
        <div class="content d-flex flex-column justify-content-center ps-0 ps-xl-4">
          <div class="row gy-4 mt-3">
            <div class="col-md-4 icon-box" data-aos="fade-up">
              <i class="bi bi-check2-circle"></i>
              <h4>Access to National Public Procurement market</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-check2-circle"></i>
              <h4>Special provisions and sections for startups, MSMEsj and Emporium products</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-check2-circle"></i>
              <h4>Fully online, paperless, and contactless platform</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-check2-circle"></i>
              <h4>Multiple invoices for a single order</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-check2-circle"></i>
              <h4>Preference given to DPIIT recognised startups to boost startups in Indai</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>Easy access to participate in bids/reverse auction</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>The clock has been enabled in RA to display the remaining time for seller</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>All sellers will be shown reasons for rejection</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>Seller friendly dashboard for monitoring supplies & payments</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>Seller belonging to North-East states and J & K are exempted from ITR at the time
                of bid participation</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>Dynamic Pricing - Price can be changed based on market conditions</h4>

            </div>
            <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-check2-circle"></i>
              <h4>Direct access to Government departments and their organizations</h4>

            </div>

          </div>
        </div><!-- End .content-->

      </div>

    </div>
  </section><!-- End about1 Section -->

  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="text-center">
        <h3>Still Confused About Our Features?</h3>
        <h3>Get A Free Consultation</h3>
        <p>Our team will complete your gem profile within 24 Hours if all documents are provided. Experts will guide you further on how to get started on the gem portal.</p>
        <a class="cta-btn" href="#"data-bs-toggle="modal" data-bs-target="#modalContactForm">Contact With Us</a>
      </div>
    </div>
  </section><!-- End Cta Section -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Our company offers a wide range of business solutions</h2>

      </header>

      <div class="row gy-4" data-aos="fade-left">

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <h3 ">GST Registration</h3>
              
              <img src=" {% static 'assets/img/icon/icons8-tax-64.png' %}" class="img-fluid" alt="">
              <p>Obtaining tax registration from the appropriate tax authority is essential</p>
              <a href="#" class="btn-buy">Read More</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">

            <h3>Gem Portal</h3>

            <img src="{% static 'assets/img/icon/icons8-star-64.png' %}" class="img-fluid" alt="">
            <p>
              The procurement of goods and services by governments through the Internet.
            </p>
            <a href="#" class="btn-buy">Read more</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <h3>Trademark</h3>

            <img src="{% static 'assets/img/icon/icons8-trademark-64.png' %}" class="img-fluid" alt="">
            <p>The key to a great corporate strategy is to set bold yet realistic goals..</p>
            <a href="#" class="btn-buy">Read more</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="box">
            <h3>Company Registration</h3>

            <img src="{% static 'assets/img/icon/icons8-registration-64.png' %}" class="img-fluid" alt="">
            <p>
              You can declare the quality of your working system by obtaining ISO certification
            </p>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Pricing Section -->



  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Why It's Beneficial</h2>

      </div>

      <div class="row gy-4">
        <div class="col-lg-6">
          <h3>We provide low cost, high quality, inventive and quick tender bidding support, so you can focus on
            managing your business.</h3>
          <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
          <p>We are gem consultants, we provide registration services and as well as complete training for the gem
            portal. Our experts provide gem training for buyers and sellers. As we provide live and virtual gem portal
            training for buyers and sellers. For more information please contact our team they will guide you with all
            the details.</p>
          <p>We can provide you complete training and support for the gem portal. Our team of experts can guide you with
            all the solutions for the gem portal. With the completion of vendor assessment, we will active your OEM
            Panel.</p>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Our team of highly experienced professionals is always ready to answer your questions or concerns
              regarding all types of government registration
            </p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> Customer Oriented</li>
              <li><i class="bi bi-check-circle-fill"></i> Expert Biders</li>
              <li><i class="bi bi-check-circle-fill"></i> All Support At A Place</li>
              <li><i class="bi bi-check-circle-fill"></i> Easy Reach To Govt Department</li>
              <li><i class="bi bi-check-circle-fill"></i> Quality Deliverable</li>
              <li><i class="bi bi-check-circle-fill"></i> Proactive Team</li>
            </ul>
            <p>
              We make it our business to facilitate your smooth registration on GeM with an efficient team, and above
              all we are accessible and responsive, and most importantly we listen to our clients.
            </p>

            <div class="position-relative mt-4">
              <img src="{% static 'assets/img/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
              <a href="" class="glightbox"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="text-center">
        <h3>Still Confused About Our Features?</h3>
        <h3>Get A Free Consultation</h3>
        <p>Our team will complete your gem profile within 24 Hours if all documents are provided. Experts will guide you further on how to get started on the gem portal.</p>
        <a class="cta-btn" href="#"data-bs-toggle="modal" data-bs-target="#modalContactForm">Contact With Us</a>
      </div>
    </div>
  </section><!-- End Cta Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>F.A.Q</h2>
        <p>Frequently Asked Questions</p>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-1">
                  How To Get GeM Registration?
                </button>
              </h2>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  <h5>In order to obtain GeM Registration you must have following below documents ready:</h5>
                  <ul>
                    <li><i class="bi bi-check-circle-fill"></i> Pan Card</li>
                    <li><i class="bi bi-check-circle-fill"></i> Aadhar Card</li>
                    <li><i class="bi bi-check-circle-fill"></i> Income Tax Return</li>
                    <li><i class="bi bi-check-circle-fill"></i> Bank Details</li>
                    <li><i class="bi bi-check-circle-fill"></i> Registration Certificate of business entity</li>

                  </ul>
                  <h5>Once you have all of the above documents, our professionals can help you register under the GeM
                    portal.</h5>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-2">
                    Why Product Listing On GeM Is Important?

                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    <h5>GeM is an e-commerce portal where products and services can be sold to government buyers when
                      products and services are listed properly.

                    </h5>
                    <h5> You must upload product images, product specifications, price details, delivery terms,
                      inspection, and test reports, etc in order to sell your products on GeM portal.

                    </h5>
                    <h5>Our professionals can help you list your products and services properly.</h5>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-3">
                    Objective Of GeM Registration?

                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    <h5>The purpose of getting a GeM registration is to ensure a smooth and effective procurement
                      process for government offices requirement. Increase the transparency between private sellers and
                      government buyers.</h5>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-4">
                    Who is a Primary Buyer on GeM?


                  </button>
                </h2>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    <h5>The following types of Authorized officers can register as Primary User on GeM who is equivalent
                      to –</h5>
                    <ul>
                      <li>Deputy Secretary
                      </li>
                      <li>Head of the Office at Sub Center / Unit
                      </li>
                      <li>Branch of a Government Organization
                      </li>
                      <li>A PSU
                      </li>
                      <li>Autonomous Bodies
                      </li>
                      <li>Local Bodies
                      </li>
                      <li>Constitution Bodies
                      </li>
                      <li>Statuary Bodies</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

  </section><!-- End F.A.Q Section -->



  {% endblock %}