{% extends 'basic.html' %}

{% block body %}
{% load static %}

  <main id="main">


             <!-- ======= Features Section ======= -->
             <section id="features" class="features">

                <div class="container" data-aos="fade-up">
          
                  <header class="section-header mt-5">
                    <h2>Product Uploading</h2>
                    
                  </header>
          
                  
          
                  <!-- Feature Tabs -->
                  <div class="row feture-tabs" data-aos="fade-up">
                    <div class="col-lg-6">
                      <h3>About Product Uploading</h3>
          
                      <div>
                        <p>Uploading products on the Government e-Marketplace (GeM) is a crucial step for vendors who want to sell their products to various government departments and agencies in India.
                           GeM is an online platform established by the Indian government to facilitate transparent and efficient procurement.</p>
                      </div>
          
          
                    </div>
          
                    <div class="col-lg-6">
                      <img src="assets/img/features-2.png" class="img-fluid" alt="">
                    </div>
          
                  </div><!-- End Feature Tabs -->
          
                  <!-- Feature Icons -->
                  <div class="row feature-icons" data-aos="fade-up">
                    <h3>Who Can Register GeM As A Vendor / Service Provider?</h3>
          
                    <div class="row">
          
                      <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
                        <img src="assets/img/features-3.png" class="img-fluid p-4" alt="">
                      </div>
          
                      <div class="col-xl-8 d-flex content">
                        <div class="row align-self-center gy-4">
          
                          <div class="col-md-6 icon-box" data-aos="fade-up">
                            <i class="ri-line-chart-line"></i>
                            <div>
                              <h4>Manufacturers</h4>
                              <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                            </div>
                          </div>
          
                          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="ri-stack-line"></i>
                            <div>
                              <h4>Authorized Dealers and Distributors:</h4>
                              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                            </div>
                          </div>
          
                          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="ri-brush-4-line"></i>
                            <div>
                              <h4>Service Providers</h4>
                              <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                            </div>
                          </div>
          
                          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="ri-magic-line"></i>
                            <div>
                              <h4>Small and Medium Enterprises (SMEs): </h4>
                              <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                            </div>
                          </div>
          
                          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                            <i class="ri-command-line"></i>
                            <div>
                              <h4>Startups</h4>
                              <p>Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor marte</p>
                            </div>
                          </div>
          
                          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                            <i class="ri-radar-line"></i>
                            <div>
                              <h4>Traders and Wholesaler</h4>
                              <p>Est autem dicta beatae suscipit. Sint veritatis et sit quasi ab aut inventore</p>
                            </div>
                          </div>
                          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                            <i class="ri-command-line"></i>
                            <div>
                              <h4>Artisans and Craftspeople</h4>
                              <p>Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor marte</p>
                            </div>
                          </div>
          
                          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                            <i class="ri-radar-line"></i>
                            <div>
                              <h4>Farmers and Agricultural Producers</h4>
                              <p>Est autem dicta beatae suscipit. Sint veritatis et sit quasi ab aut inventore</p>
                            </div>
                          </div>
          
                        </div>
                      </div>
          
                    </div>
          
                  </div>
    
                
                </div>
          
              </section><!-- End Features Section -->

              <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq">
    
          <div class="container" data-aos="fade-up">
    
            <header class="section-header">
              <h2> A step-by-step guide on how to upload products on GeM</h2>
            </header>
    
            
    
          </div>
    
        </section><!-- End F.A.Q Section -->

              <div class="container py-3">
                <div class="main-timeline-4 text-white">
                  <div class="timeline-4 left-4">
                    <div class="card gradient-custom">
                      <div class="card-body p-4">
                        <i class="fas fa-brain fa-2x mb-3"></i>
                        <h4>Vendor Registration:</h4>
                        
                        <p>Before you can upload products on GeM, you need to register as a vendor on the platform. Visit the official 
                          GeM website (https://gem.gov.in/) and complete the registration process, providing the required business and tax-related details.
                        </p>

                      </div>
                    </div>
                  </div>
                  <div class="timeline-4 right-4">
                    <div class="card gradient-custom-4">
                      <div class="card-body p-4">
                        <i class="fas fa-camera fa-2x mb-3"></i>
                        <h4>Login to Your Vendor Account:</h4>
                        <p>After you've registered and received approval as a vendor, log in to your vendor account on the GeM platform using your credentials.
                        </p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="timeline-4 left-4">
                    <div class="card gradient-custom">
                      <div class="card-body p-4">
                        <i class="fas fa-campground fa-2x mb-3"></i>
                        <h4>Access the Catalog Management Section:</h4>
                        
                        <p>Once logged in, you'll typically find a section or tab related to catalog management. Click on this section to begin the product upload process.
                        </p>
               
                      </div>
                    </div>
                  </div>
                  <div class="timeline-4 right-4">
                    <div class="card gradient-custom-4">
                      <div class="card-body p-4">
                        <i class="fas fa-sun fa-2x mb-3"></i>
                        <h4>Select the Appropriate Category</h4>
                        <p>GeM categorizes products and services into various categories and subcategories. Choose the category that best matches the products you intend to upload
                        </p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="timeline-4 left-4">
                    <div class="card gradient-custom">
                      <div class="card-body p-4">
                        <i class="fas fa-palette fa-2x mb-3"></i>
                        <h4>Add a New Product</h4>
                      
                        <p>Within your chosen category, 
                          you'll typically find an option to "Add New Product" or a similar label. 
                          Click on this option to start the product upload process.
                        </p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="timeline-4 right-4">
                    <div class="card gradient-custom-4">
                      <div class="card-body p-4">
                        <i class="fas fa-laugh-beam fa-2x mb-3"></i>
                        <h4>Fill in Product Details</h4>
                        <p>For each product you want to upload, you will need to provide detailed information. 
                          This includes product name, description, specifications, images, pricing, and any other relevant details.
                        </p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="timeline-4 left-4">
                    <div class="card gradient-custom">
                      <div class="card-body p-4">
                        <i class="fas fa-pizza-slice fa-2x mb-3"></i>
                        <h4>Images and Documents</h4>
                        <p>Upload clear images of the product to help potential buyers understand what you're offering. 
                          Additionally, provide any necessary documents or certifications related to the product if applicable
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-4 right-4">
                    <div class="card gradient-custom-4">
                      <div class="card-body p-4">
                        <i class="fas fa-laugh-beam fa-2x mb-3"></i>
                        <h4>Pricing and Discounts</h4>
                        <p>Specify the price of the product and any applicable discounts. 
                          GeM allows you to offer various types of discounts, including quantity-based discounts.
                        </p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="timeline-4 left-4">
                    <div class="card gradient-custom">
                      <div class="card-body p-4">
                        <i class="fas fa-pizza-slice fa-2x mb-3"></i>
                        <h4>Taxes and Other Charges</h4>
                        <p>Define the tax rates and any other charges associated with the product.
                           Make sure to comply with Goods and Services Tax (GST) regulations.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-4 right-4">
                    <div class="card gradient-custom-4">
                      <div class="card-body p-4">
                        <i class="fas fa-laugh-beam fa-2x mb-3"></i>
                        <h4>Verification and Approval</h4>
                        <p>Once your product listing is approved, it will become visible to government procurement officers and other potential buyers on the GeM platform.
                        </p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="timeline-4 left-4">
                    <div class="card gradient-custom">
                      <div class="card-body p-4">
                        <i class="fas fa-pizza-slice fa-2x mb-3"></i>
                        <h4>Updating and Managing Listings</h4>
                        <p>It's essential to keep your product listings up to date. If there are any changes in product details, pricing, or availability, make sure to update your listings promptly.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-4 right-4">
                    <div class="card gradient-custom-4">
                      <div class="card-body p-4">
                        <i class="fas fa-laugh-beam fa-2x mb-3"></i>
                        <h4>Performance Metrics:</h4>
                        <p>Monitor your performance on GeM, including order fulfillment, product quality, and adherence to delivery timelines. A good track record can positively affect your reputation on the platform.
                        </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                  

  </main><!-- End #main -->

  {% endblock %}