{% extends 'basic.html' %}

{% block body %}
{% load static %}

  <main id="main">


 
           <!-- ======= Features Section ======= -->
           <section id="features" class="features">

            <div class="container" data-aos="fade-up">
      
              <header class="section-header mt-5">
                <h2>Tender Notification</h2>
                <p>Laboriosam et omnis fuga quis dolor direda fara</p>
              </header>
      
              
      
              <!-- Feature Tabs -->
              <div class="row feture-tabs" data-aos="fade-up">
                <div class="col-lg-12 text-center">
                  <h3 style="font-size: 100px;">Coming Soon</h3>
      
                  
      

                </div>
      


            
            </div>
      
          </section><!-- End Features Section -->
              <!-- ======= F.A.Q Section ======= -->



  </main><!-- End #main -->

  {% endblock %}